extends ../layout

block content

  - var active_tab = {settings: 'active'}
  include sub_navi.jade

  div.panel-group#accordion
    div.panel.panel-default
      div.panel-heading
        h4.panel-title
          a.accordion-toggle(data-toggle="collapse", dataParent="#accordion", href="#collapseOne")
            | Cómo utilizar la configuración?
      div.pannel-collapse.collapse#collapseOne
        div.panel-body
          ol
            li Los ajustes son de tres tipos: "texto corto" (hasta 255 caracteres), "texto largo", "flag" (es decir, si / no)
            li Настройки позволяют отображать дополнительные данные на страницах (счетчики, баннеры и прочее)
            li Настройки типа "флаг" позволяют добавлять условия в логику самого приложения (включить выключить
              | рекламную акцию например) и логику отображения строковых настроек на страницах
            li В шаблонах доступ к настройкам выглядит так:
              strong &nbsp; != getAppConfig('settings_key', 'default value')
            li В коде контроллеров доступ к настройкам выглядит так:
              strong &nbsp; appConfig.settings_key
            li Por lo tanto, a sus nuevos valores se tienen que poner en práctica una plantilla o un código en función de las citas programadas
  br
  table.table.table-striped.table-hover
    thead
      th Llave
      th Descripción
      th Tipo
      th &nbsp;

    tbody
    - each item in settings
      tr
        td #{item.key || '- нет -'}
        td
          a(href="/adm/edit-param/#{item.id}/", title="Редактировать свойство")
            = (item.name || '- нет -')
        td
          case item.type
            when 's_short'
              | texto breve
            when 's_long'
              | texto largo
            when 'flag'
              | bandera
            default
              | - no -
        td &nbsp;


  form.form-horizontal(role="form", method="post", action="/adm/add-settings-param")
    legend Adición de una opción de configuración
    div.form-group
      label.control-label.col-lg-3 Llave
      div.col-lg-5
        select.form-control(name="type")
          option(value="s_short") Texto breve
          option(value="s_long") Texto largo
          option(value="flag") Bandera

    div.form-group
      div.col-lg-9.col-lg-offset-3
        button(type="submit", class="btn btn-primary") Añadir opción

