ul(class="nav nav-tabs")
  li(class=active_tab.post_list)
    a(href="/adm/posts/")
      i(class="icon-list-alt black-icon")
      | &nbsp;Posts

  li(class=active_tab.tags_list)
    a(href="/adm/tags/")
      i(class="icon-tags black-icon")
      | &nbsp;Etiquetas

  li(class=active_tab.users)
    a(href="/adm/users/")
      i(class="icon-user black-icon")
      | &nbsp;Ususarios

  li(class=active_tab.settings)
    a(href="/adm/settings/")
      i(class="icon-cog black-icon")
      | &nbsp;Ajustes

  - if (active_tab.edit_post == 'active') {
  li(class="active")
    a(href="#")
      i(class="icon-edit black-icon")
      | &nbsp;Edición de registros
  - }

  - if (active_tab.edit_param == 'active') {
  li(class="active")
    a(href="#")
      i(class="icon-edit black-icon")
      | &nbsp;Ajustes de los parámetros de edición
  - }
br
